/* Selection colours (easy to forget) */

::selection 	 	{background: #516066; color: white; text-shadow: none;}
::-moz-selection 	{background: #516066; color: white; text-shadow: none;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}

body {
    background: url('../static/purty_wood.jpg') repeat;
    padding-top: 100px;
    color: #516066;
}

.btn-primary{
    background: #516066;
    border: 0px;
}

.btn-primary:hover {
    background: #687b83;
}

.brand {
    text-indent: -10000px;
    background: url('/static/logo.png') 0px 5px no-repeat;
    width: 200px;
    height: 45px;
}

#disqus_thread{
    margin-top: 30px;
}

a {
    color: #516066;
}

.about a {
    color: #516066;
    text-decoration: underline;
}

.navbar .nav > li > a{
    margin-top: 15px;
    font-size: 11px;
    text-transform: uppercase;
    background: #516066;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    padding: 2px 8px;
}
.navbar .nav > li > a:hover {
    font-size: 11px;
    text-transform: uppercase;
    background: #516066;
    font-weight: bold;
    text-decoration: underline;
}

.cart {
    margin-left: 200px;
    margin-top: 10px;
    background: url('/static/logo.png') -450px -11px no-repeat !important;
    height: 65px;
    width: 112px;
    text-align: right;
    font-size: 14px !important;
    color: #516066 !important;
}

.navbar-inner {
    background: #F0F0F2;
    height: 60px;
    border-bottom: 1px solid #C3CCd0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1)
}

.tagline {
    text-align: center;
    color: #516066;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#notice{
    text-align: center;
    text-transform: uppercase;
    background: #F0F0F2;
    padding: 15px 5px;
    border-radius: 3px;
    width: 500px;
    margin: 0px auto;
    margin-bottom: 30px;
}

.tshirt_array_top{
    margin-bottom: 40px;
}

.tile{
    font-size: 11px;
    padding: 10px 0px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.grey_bar{
    background-color: #F2F0F0;
    padding: 10px;
    margin: 0px 0px -10px 0px;
}
.lead {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #AD9C9C;
    margin-bottom: -4px;
}

.tile img{
    margin: 0px 10px 15px 10px;
}

.modal {
    width: 700px;
    margin: -250px 0 0 -360px;
}

.thumb {
    float: left;
    background-color: #F2F0F0;
    padding: 10px;
    margin-right: 30px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.item_info h4{
    text-transform: capitalize;
    margin-bottom: 20px;
}

.item_info {
    font-size: 14px;
    line-height: 22px;
    padding: 0px 20px;
}

/* TSHIRT PAGE */
.left_sidebar, .right_sidebar{
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

#addition_details {
    margin-top: 5px;
}

.left_sidebar h3{
    margin: 15px 0px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    padding: 10px 20px;
}

.left_sidebar img{
    padding: 0 20px;
    width: 420px;
}
.left_sidebar p {
    border-top: double rgba(34, 25, 25, 0.14);
    padding: 10px 20px;
    font-size: 12px;
    margin-top: 20px;
}

.right_sidebar {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#order_details {
    padding: 30px 30px 20px 30px;
    width: 200px;
}

#order_details .nav-pills > .active > a, .nav-pills > .active > a:hover {
    background: #516066;
}

.size_btn ul li a {
    color: #516066;
}

.fb-like {
    width: 70px;
}

#likes_summary {
    background: #F0F0F2;
    padding: 20px;
    margin: 30px 10px;
}

#comments_section {
    border-top: double rgba(34, 25, 25, 0.14);
    padding: 20px;
}

#likes_summary ul li{
    list-style-type: none;
    border-border: 1px solid #DDD
    margin: 10px 0px;
    
}

.cart_info {
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid #eee;
}
.cart_btn {
    margin-top: 10px;
}

/* CHECKOUT PAGE */

.cart_summary {
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.checkout_btns ul li {
    list-style-type: none;
    margin: 20px !important;
}

.checkout_btns ul {
    margin: 0px !important;
}


/* FOOTER */
footer {
    margin-top: 100px;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border: double rgba(34, 25, 25, 0.14);
    border-width: 3px 0;
    text-align: centre;
}

/* ABOUT */
.about {
    background-color: white;
    padding: 40px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.description{
    margin: 40px;
}

.description h2{
    border-bottom: double rgba(34, 25, 25, 0.14);
    margin-bottom: 10px;
}
