{% extends "base.html" %}
{% block body %} 
    <div class="about">
        <div class="description">
        <h2>About</h2>
            <p>We are an online store run by a bunch of students from the 48/18 batch. We wish to keep the spirit of Joka alive by designing merchandise that every Jokar will cherish. If you're a part of the Joka tribe, you need no further motivation to visit us! We guarantee the best quality and designs at the most reasonable prices. </p>
        </div>
        <div class="description">
            <div id="faq"><h2>FAQs</h2></div>
            <h3>I have confirmed my order. Now what?</h3>
            <p>You will receive a mail from us detailing who to make the payment to, where to make it, how to make it, and any other variant of that.</p>
            <h3>How long will it take to deliver the tee once I make the payment?</h3>
            <p>You will get your tee within 15 days of making the payment.</p>
            <h3>Why should I pay money upfront when every other site offers me cash-on-delivery?</h3>
            <p>We have just started up and do not have the requisite funds to pay for sourcing the tees yet. We hope to soon reach a stage where we can fund our working capital ourselves. Until then, we kindly request you to co-operate.</p>
            <h3>What's the guarantee that you'll honour the 15-day deadline if I pay the money up-front?</h3>
            <p>Our primary aim is to provide you the best merchandise and gain your trust. Our contact details and our room numbers are available to you. So we take full responsibility to deliver on time. We have no intention on incurring the wrath of an angry Jokar by crossing him, nor do we intend to lose future business opportunities. </p>
            <h3>Why can't I transfer money online?</h3>
            <p>The e-payment system needs to be highly secure and we will take some more time in getting it up and running. Until then, we request your co-operation. Your co-operation now can go a long way in assuring a solid foundation for the Joka Store.</p>
            <h3>I'm an alum. How do I go about getting my tee?</h3>
            <p>Until the e-payment system is up, you may place your order online and pay via a contact on campus, and we will ship the tees to your address for a nominal fee.</p>
            <h3>Will there be more designs?</h3>
            <p>Yes, Of course!. Got some designs in mind that Jokars will love? Shoot us an email! </p>
            <h3>I see a few bugs on the site. What can I do about them?</h3>
            <p>We must say that you've got a keen eye. Despite our best attempts to keep this site away from those slimy creatures a few must have crept in. We would be grateful if you could
            email us about the problem and we'll try our best to keep this site pest-free.</p>
            <h3>Your site is down! How can I order Tees if your site is not running?</h3>
            <p>We see what you did there ;). Being impecunious students we have currently hosted our site on Google App Engine for free. In case our site comes down due to high traffic
            we'll be up and running on <a href="http://temporary-jokastore.appspot.com">Temp JokaStore</a> so that you can place your orders. We promise to upgrade to a paid account as soon
            as the orders start rolling in. We apologize for the inconvenience.</p>
        </div>
        <div class="description"> 
            <h2>Contact</h2>
            <h4>If you have any other queries, feel free to contact us:</h4>
            <p>
            <address>
                <strong>Kumara S Raghavendra</strong>
                <br>LVH C-222
                <br><abbr title="Phone">P:</abbr> +919163098719
                <br><a href="mailto:kumarar2013@email.iimcal.ac.in">kumarar2013@email.iimcal.ac.in</a>
            </address>
            <address>
                <strong>Prakhar Srivastav</strong>
                <br>LVH C-220
                <br><abbr title="Phone">P:</abbr> +919163060210
                <br><a href="mailto:prakhars2013@email.iimcal.ac.in">prakhars2013@email.iimcal.ac.in</a>
            </address>
            </p>
        </div>
    </div>
{% endblock %}
