{% extends "base.html" %}
{% block body %} 
    <div class="row tshirt_array_top">
        {% for i in range(1,5) %}
        <div class="span3 tile">
            <a href="/tshirt/{{i}}" id="show_details_{{i}}"><img src="/static/img/{{ i }}.jpg" width="200px" height="auto" /></a>
            <div class="grey_bar">
                <p class="lead"> {{ tshirts[i-1].title }}</p>
             </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for i in range(5,9) %}
        <div class="span3 tile">
            <a href="/tshirt/{{i}}" id="show_details_{{i}}"><img src="/static/img/{{ i }}.jpg" width="200px" height="auto" /></a>
            <div class="grey_bar">
                <p class="lead"> {{ tshirts[i-1].title }}</p>
             </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
