{% extends "base.html" %}
{% block body %} 
    <div class="row">
        {% for i in range(1,5) %}
        <div class="span3 tile">
            <a href="#tshirt_detail_{{i}}" id="show_details_{{i}}"><img src="/static/img/{{ i }}.jpg" width="200px" height="auto" /></a>
            <div class="grey_bar">
                <p class="lead"> {{ tshirts[i-1].title }}</p>
                <!-- <div class="fb-like" data-href="http://jokastore.appspot.com/tshirt/{{i}}" data-send="false" --> 
                <!--      data-layout="button_count" data-width="50" --> 
                <!--      data-show-faces="false" data-font="arial"></div> -->
             </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for i in range(5,9) %}
        <div class="span3 tile">
            <a href="#tshirt_detail_{{i}}" id="show_details_{{i}}"><img src="/static/img/{{ i }}.jpg" width="200px" height="auto" /></a>
            <div class="grey_bar">
                <p class="lead"> {{ tshirts[i-1].title }}</p>
                <!-- <div class="fb-like" data-href="http://jokastore.appspot.com/tshirt/{{i}}" data-send="false" --> 
                <!--      data-layout="button_count" data-width="50" --> 
                <!--      data-show-faces="false" data-font="arial"></div> -->
             </div>
        </div>
        {% endfor %}
    </div>


{% for i in range(1,9) %}
<div id="tshirt_detail_{{i}}" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>{{tshirts[i-1].title }} </h3>
    </div>
    <div class="modal-body">
        <div class="thumb">
            <img src="/static/img/{{i}}.jpg" width="350px" height="auto" \>
        </div>
        <div class="item_info">
            <h4> {{ tshirts[i-1].title }} </h4>
            <div> {{ tshirts[i-1].content | safe }} </div>

            <div class="cart_info">
                <!-- <h6>Items in cart: <span id="cart_items" class="badge badge-info">10</span> </h6> -->
                <!-- <button class = "btn btn-primary cart_btn"> -->
                <!--     <i class="icon-shopping-cart"></i>  Add this to Cart! -->
                <!-- </button> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        <!-- <a href="#" class="btn btn-primary">Save Changes</a> -->
    </div>
</div>
{% endfor %}    
{% endblock %}
